# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Global-Game-Jam-2021.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Aidan\Desktop\Coding\C#\Global-Game-Jam-2021\.idea\.idea.Global-Game-Jam-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
